<manifest
    package="net.ebt.muzei.miyazaki"
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application tools:ignore="GoogleAppIndexingWarning">

        <activity
            android:name=".SettingsActivity"
            android:exported="true"
            android:theme="@style/AppTheme">
        </activity>
    </application>
</manifest>
