<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="net.ebt.muzei.miyazaki">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="false"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        tools:ignore="GoogleAppIndexingWarning">

        <activity
            android:name=".SettingsActivity"
            android:theme="@style/AppTheme"
            android:exported="true">
        </activity>

        <service
            android:name=".service.MuzeiMiyazakiService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.apps.muzei.api.MuzeiArtSource"/>
            </intent-filter>
            <meta-data
                android:name="replacement"
                android:value="${ghibliAuthority}"/>
        </service>

        <provider
            android:name=".GhibliArtProvider"
            android:authorities="${ghibliAuthority}"
            android:label="@string/source_name"
            android:description="@string/source_description"
            android:exported="true"
            android:permission="com.google.android.apps.muzei.api.ACCESS_PROVIDER">
            <intent-filter>
                <action android:name="com.google.android.apps.muzei.api.MuzeiArtProvider"/>
            </intent-filter>

            <meta-data
                android:name="settingsActivity"
                android:value="net.ebt.muzei.miyazaki.SettingsActivity"/>
        </provider>

    </application>

</manifest>
